body {
	font-size: 16px;
	font-weight: var(--text-weight-medium);
}

.mobile-portrait {
	width: calc(
		var(--grid-mobile-portrait-column) * 4 + var(--grid-mobile-portrait-gutter) *
			3
	);
	margin: 0 auto;
}
.mobile-landscape {
	width: calc(
		var(--grid-mobile-landscape-column) * 4 +
			var(--grid-mobile-landscape-gutter) * 3
	);
	margin: 0 auto;
}
.tablet {
	width: calc(var(--grid-tablet-column) * 8 + var(--grid-tablet-gutter) * 7);
	margin: 0 auto;
}
.desktop {
	width: calc(
		var(--grid-desktop-column) * 12 + var(--grid-desktop-gutter) * 11
	);
	margin: 0 auto;
}
