header {
	padding: calc(var(--spacing-1) / 2) 0;
	width: 100%;
	margin-bottom: var(--spacing-4);
}

.header__inner {
	border-bottom: var(--border-width-thin);
	border-bottom-style: var(--border-style-solid);
	border-bottom-color: var(--color-primary);
}

header .logo {
	color: var(--color-accent);
}
