.json-editor {
	/* --color-fg-default: var(--color-text);
	--color-prettylights-syntax-entity-tag: var(--color-primary);
	--color-prettylights-syntax-sublimelinter-gutter-mark: var(--color-text);
	--color-prettylights-syntax-constant: var(--color-accent);
	--color-prettylights-syntax-string: var(--color-primary);
	--color-prettylights-syntax-markup-bold: var(--color-text); */

	width: 100%;
	background-color: var(--color-secondary);
	border-radius: var(--border-radius-medium);
	color: var(--color-text);
	font-size: var(--text-size-medium);
	border: none;
	box-shadow: var(--shadow-thin);
}

.json-editor textarea {
	outline: none;
}

.json-editor .token.operator {
	color: var(--color-text);
	background-color: initial;
}
